@import url('dragonfly.css');

.df-prompt,
.df-input {
	color: #731;
}

.df-place-title {
	color: #505;
}

.df-default-text {
	color: #333;
}

.df-main-title,
.df-author {
	color: #252;
}

.df-tip {
	color: #A30;
}

body {
	background-color: #FFF;
}
