@import url("dragonfly.css");

.df-prompt,
.df-input {
    color: #E97; 
}

.df-place-title {
    color: #D8D;
}

.df-default-text {
    color: #DDD;
}

.df-main-title,
.df-author {
    color: #8C8;
}

.df-tip {
    color: #F87;
}

.df-ambient {
    color: rgb(54, 173, 54);
}

body {
    color: #DDD;
	background-color: #333;
}
